[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk.git
[submodule "VulkanUtils"]
	path = thirdparty/VulkanUtils
	url = https://github.com/cmourglia/VulkanUtils.git
[submodule "glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "loguru"]
	path = thirdparty/loguru
	url = https://github.com/emilk/loguru.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "thirdparty/bgfx/bx"]
	path = thirdparty/bgfx/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "thirdparty/bgfx/bimg"]
	path = thirdparty/bgfx/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "thirdparty/bgfx/bgfx"]
	path = thirdparty/bgfx/bgfx
	url = https://github.com/bkaradzic/bgfx.git
