[submodule "loguru"]
	path = thirdparty/loguru
	url = https://github.com/emilk/loguru.git
[submodule "thirdparty/nanovg"]
	path = thirdparty/nanovg
	url = https://github.com/inniyah/nanovg.git
[submodule "thirdparty/BeardLibrary"]
	path = thirdparty/BeardLibrary
	url = https://github.com/cmourglia/BeardLibrary.git
